# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_URL=<add url>
DISCOVERY_ENVIRONMENT_ID=<add env id>
DISCOVERY_COLLECTION_ID=<add collection id>
## Un-comment and use either username+password or IAM apikey.
DISCOVERY_IAM_APIKEY=
DISCOVERY_IAM_URL=https://iam.bluemix.net/identity/token
# DISCOVERY_USERNAME=<add_discovery_username>
# DISCOVERY_PASSWORD=<add_discovery_password>
# IP_WHITELIST=<add_whitelist_ips>
HOST_ENV=dev
# Run locally on a non-default port (default is 3000)
PORT=3000
